.toast-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 4px;
    margin: 10px;
    /* transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35); */
    animation: slide 750ms cubic-bezier(0.15, 0.75, 0.25, 1.05);
}

.notice {
    background-color: #ffffff;
}

.error {
    background-color: #fdeced;
}

.success {
    background-color: #ebfdeb;
}

.warning {
    background-color: #ffffff;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dismiss-btn {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
